Repository stickyptyltd-glitch/ai-coding, changes with the labels that .github/labeler.yml gives for each.
All labels: docs, ci, dependencies, web, backend

.github/labeler.yml:

docs:
  - changed-files:
      - any-glob-to-any-file: 'docs/**'
      - any-glob-to-any-file: 'README.md'
      - any-glob-to-any-file: 'CHANGELOG.md'
      - any-glob-to-any-file: 'CONTRIBUTING.md'

ci:
  - changed-files:
      - any-glob-to-any-file: '.github/**'
      - any-glob-to-any-file: 'test/**'

dependencies:
  - changed-files:
      - any-glob-to-any-file: 'package.json'
      - any-glob-to-any-file: 'package-lock.json'
      - any-glob-to-any-file: '.npmrc'

web:
  - changed-files:
      - any-glob-to-any-file: 'web/**'

backend:
  - changed-files:
      - any-glob-to-any-file: 'src/**'

chore(release): v1.2.0
  .github/CODEOWNERS
  .github/ISSUE_TEMPLATE/config.yml
  CHANGELOG.md
  package.json
Labels: docs, ci, dependencies

chore(release): 1.2.1
  package-lock.json
  package.json
Labels: dependencies

chore(release): 1.2.1 notes
  CHANGELOG.md
Labels: docs

chore(deploy): add staging k8s manifests (namespace, deployment, service, ServiceMonitor, PrometheusRule) and alerting guide
  README.md
  deploy/k8s/README.md
  deploy/k8s/deployment.yaml
  deploy/k8s/kustomization.yaml
  deploy/k8s/namespace.yaml
  deploy/k8s/prometheusrule.yaml
  deploy/k8s/secret.example.yaml
  deploy/k8s/service.yaml
  deploy/k8s/servicemonitor.yaml
  docs/ALERTING.md
  docs/README.md
  docs/RUNBOOK.md
  package.json
  scripts/gh-actions.js
  scripts/gh-dispatch.js
  scripts/health-check.js
  src/metrics.js
  src/web-server.js
  test/anti-tamper.test.js
  test/license.test.js
Labels: docs, ci, dependencies, backend

feat: comprehensive system enhancements
  ERROR_CHECK_REPORT.md
  EXTREME_CAPABILITIES_REPORT.md
  MARKETING_COMPLETE.md
  PRICING_TIERS.md
  UPGRADE_MIGRATION.md
  USER_MANUAL.md
  src/advanced-anti-tamper.js
  src/advanced-license.js
  src/agent.js
  src/ai-orchestration.js
  src/anti-tamper.js
  src/blockchain-audit.js
  src/compliance.js
  src/enhanced-error-system.js
  src/integration-manager.js
  src/integrations/base-integration.js
  src/ip-protection.js
  src/license.js
  src/ml-security.js
  src/multi-agent.js
  src/quantum-crypto.js
  src/security.js
  src/testing/enhanced-test-framework.js
  src/zero-trust-security.js
  web/js/app.js
Labels: web, backend

feat: comprehensive system enhancements with advanced error handling
  SYSTEM_ENHANCEMENTS.md
  demo-test.js
  error-check-report.json
  scripts/comprehensive-error-check.js
  scripts/gh-actions.js
  scripts/gh-dispatch.js
  scripts/health-check.js
  src/agent.js
  src/ai-provider.js
  src/cli.js
  src/config-manager.js
  src/error-validation-system.js
  src/monitoring-system.js
  src/system-health-checker.js
  src/system-orchestrator.js
  system-state.json
  test/system-integration.test.js
Labels: ci, backend

fix: resolve chat hanging issues and memory optimization problems
  .dockerignore
  .github/workflows/ci.yml
  AGENTS.md
  CLAUDE.md
  Dockerfile.prod
  MANIFEST.json
  README.md
  package-lock.json
  package.json
  src/advanced-ai-orchestration.js
  src/agent.js
  src/ai-provider.js
  src/api/api-router.js
  src/auth.js
  src/errors/error-handler.js
  src/global-collaboration-network.js
  src/job-queue.js
  src/logger.js
  src/master-orchestration-engine.js
  src/metrics.js
  src/middleware/security.js
  src/minimal-web-server.js
  src/next-gen-orchestration.js
  src/orchestration/adaptive-task-router.js
  src/orchestration/agent-registry.js
  src/orchestration/collaborative-sessions.js
  src/orchestration/consensus-engine.js
  src/orchestration/execution-strategies.js
  src/quantum-code-intelligence.js
  src/quantum-security-system.js
  src/security.js
  src/testing/test-framework.js
  src/tool-chains.js
  src/validation.js
  src/web-server.js
  test/core/logger.test.js
  test/core/security.test.js
  tsconfig.checkjs.json
  tsconfig.json
Labels: docs, ci, dependencies, backend

"Claude PR Assistant workflow"
  .github/workflows/claude.yml
Labels: ci

"Claude Code Review workflow"
  .github/workflows/claude-code-review.yml
Labels: ci

"Update Claude PR Assistant workflow"
  .github/workflows/claude.yml
Labels: ci

"Update Claude Code Review workflow"
  .github/workflows/claude-code-review.yml
Labels: ci

"Update Claude PR Assistant workflow"
  .github/workflows/claude.yml
Labels: ci

"Update Claude Code Review workflow"
  .github/workflows/claude-code-review.yml
Labels: ci

feat: add production deployment configurations for Railway, Render, and Vercel
  CLAUDE.md
  deploy/DEPLOYMENT_GUIDE.md
  deploy/domain-config.md
  deploy/monitoring-setup.md
  railway.toml
  render.yaml
  vercel.json
Labels: none

chore: update axios dependency to 1.12.2
  package-lock.json
Labels: dependencies

feat: replace placeholder banners with fully functional web pages
  .github/workflows/deploy.yml
  src/web-server.js
  web/agents.html
  web/css/agents.css
  web/css/dashboard.css
  web/css/monitoring.css
  web/css/toolchains.css
  web/dashboard.html
  web/index.html
  web/js/agents.js
  web/js/dashboard.js
  web/js/toolchains.js
  web/monitoring.html
  web/toolchains.html
Labels: ci, web, backend

remove workflow file to pass repository rules
  .github/workflows/deploy.yml
Labels: ci

Deploy production-ready platform with full functionality
  error-check-report.json
Labels: none
